body {
  font-family: "Roboto", "Times New Roman";
}

/* container {
  width: 100%;
  height: 100%;
} */

#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  #logo {
      height: 14%;
      margin: 20%;
      background: rgba(255, 255, 255, 0.3);
  }

  #welcome {
    color: #FFFF;;
    margin: 7%;
  }
  
  #title { 
    font-size: 180%;
    text-align: center;
    height: 600;
    color: #FFFF;
  }

  #int-container {
    height: 100%;
    width: 100%;
    display: block;
    

  }

  #start {
    height: 100%;
    width: 100%;
    align-items: start;
  }